html { 
    background: rgb(32, 32, 32); 
    scroll-behavior: smooth;
   }
   
div { 
    width: 30%; 
    background: linear-gradient(to bottom right, rgb(255, 227, 114), #fc0);
    padding: 5px 5px 20px 20px;
    border-radius: 30px;
    margin: 20px;
   }

nav {
    position: sticky;
    top: 0;
    background-color: rgb(32, 32, 32);
    padding: 20px;
   }

h1 { 
    color: #fc0;
    padding-left: 40px;
    margin: 20px;
   }

.a1 { 
    color: #fc0;
    margin: 10px;
    border-radius: 30px;
    text-decoration: none;
    background-color: rgb(43, 43, 43);
    padding: 20px;
   }
   
.a2 { 
    color: rgb(32, 32, 32);
   }
   
.button {
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    border-color: black;
    border: solid;
    text-decoration: none;
    position: sticky;
    bottom: 20px;
    top: 10px;
    float: right;   
   }

.button2 {
    color: #fc0;
    background-color: rgb(32, 32, 32);
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
    text-decoration: none; 
   }