*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scrollbar-color: #04193E #FFFFFF;
    cursor: url(/img/Cursor.svg), default;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

::selection {
    background: #04193E; 
    color: #fff; 
}

.container .head{
    margin-bottom: 77px;
}

header{
    background-color: #04193E;
    padding: 30px 0;
    cursor: url(/img/Cursor-white.svg), default;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
    position: relative;
    width: 55px;
    height: 55px;
    border: none;
    background-color: rgb(71, 71, 71);
}

.header__burger span{
    position: absolute;
    top: 0;
    width: 30px;
    height: 3px;
    background-color: #FFFFFF;
    right: 5px;
    transition: all .5s;
}

.header__burger span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}

nav{
    
}

.nav__list{
    display: flex;
    column-gap: 18px;
    list-style: none;
}

.nav__link{
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.2s;
    cursor: url(/img/focus.svg), pointer;
}

.nav__link:hover{
    color: #86B0FA;
    cursor: url(/img/focus.svg), pointer;
}

.social__text{
    color: #04193E;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.articles{
    margin-bottom: 80px;
}

.social__title{
    color: #333333;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.nav__item{

}

.nav__item:last-child{
    margin-right: 0;
}

.logo{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: lighter;
    line-height: 44px;
}

.banner{
    padding: 90px 0px;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.banner::before{
    content: '';
    display: block;
    background: rgba(255, 255, 255, 0.69);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner .container{
    position: relative;
    z-index: 2;
    display: flex;
}

.banner__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner__wrap-img{
    width: 50%;
}

.social{
    padding: 25px 0;
    background-color: #F5F5F5;
    margin-bottom: 80px;
}

.social__info{
    max-width: 520px;
}

.social .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons{

}

.social__link{
    margin-right: 28px;
}

.social__link:last-child{
    margin-right: 0px;
}

.head__title{
    color: #333333;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 28px;
}

.banner__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    color: #04193E;
    margin-bottom: 20px;
}

.line{
    width: 154px;
    height: 0px;
    border-top: 1px  solid #04193E;
    margin-bottom: 20px;
}

.head__line{
    width: 154px;
    height: 0px;
    border-top: 1px  solid #04193E;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.banner__img{
    width: 100%;
}

.banner__btn{
    background-color: #04193E;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    width: 100%;
    max-width: 270px;
    border: none;
    padding: 18px;
    display: inline-block;
    transition: all 0.2s;
    cursor: url(/img/Cursor-white.svg), default;
}

.banner__btn:hover{
    background-color: #04193e5d;
    color: #FFFFFF;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.banner__text{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 485px;
}

.card__wrap-img{
    width: 92px;
    height: 92px;
    border: 1px solid #04193E;
    border-radius: 50%;
    margin: 0 auto 24px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__img{
    width: 70%;
    height: 70%;
}

.card__title{
    color: #333333;
    font-size: 18px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

.articles__cards{
    display: flex;
    column-gap: 27px;
}

.card{
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.card:hover{
    scale: 1.08;
}

.articles__cards:hover > .card:not(:hover){
    filter: blur(2px);
    transform: scale(0.9);
}

.card:last-child{
    margin-right: 0px;
}

.head{
    text-align: center;
}

.work .container{
    margin-bottom: 77px;
}

.section3{
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 80px;
}

.head__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
}

.card__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    text-align: center;
}

.reviews{
    padding-top: 29px;
    padding-bottom: 51px;
    background-color: #F5F5F5;
    margin-bottom: 80px;
}

.reviews .container{
    position: relative;
    max-width: 927px;
}

.reviews__arrow-left img{
    width: 16px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 50%;
}

.reviews__arrow-right img{
    width: 16px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
}

.slider{
    display: grid;
    grid-template-columns: 167px 1fr;
    column-gap: 40px;
}

.slider__wraper-img{

}

.slider__img {
    border-radius: 50%;
    width: 167px;
    height: 167px;
    object-fit: cover;
}

.slider__wrapper-text{
    align-self: center;
}

.slider__text {
    color: #04193E;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 20px;
}

.slider__line {
    width: 70px;
    height: 0px;
    border-top: 1px  solid #04193E;
}

.slider__name{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    position: relative;
    padding-left: 110px;
}

.slider__name::before{
    content: '';
    color: #000000;
    border: 1px solid #04193E;
    width: 70px;
    height: 0px;
    top: 50%;
    left: 0;
    position: absolute;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__wrap-img{
    padding-top: 105%;
    position: relative;
}

.gallery__img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.gallery__wrap-img:nth-child(3){
    grid-row: 1 / 3;
    grid-column: 3 / 4;
}

.gallery__cover{
    background: linear-gradient(#E98283E5, #EDD789E5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0%;
    transition: all 0.2s;
}

.gallery__cover:hover{
    background: linear-gradient(#E98283E5, #EDD789E5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
}

.gallery__icon{
    margin-bottom: 40px;
}

.gallery__title{
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery__text{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

.contact{
    padding: 80px 0;
}

.contact__form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 58px);
    grid-column-gap: 212px;
    grid-row-gap: 40px;
}

.input{
    max-width: 480px;
    height: 100%;
    border-bottom: 1px solid #04193E;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    transition: all 0.2s;
    cursor: url(/img/input.svg), text;
}

.input:hover{
    background-color: #04193e09;
}

.input:focus{
    background-color: #173b7a09;
    caret-color: #04193E;
    color: #04193E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding-left: 15px;
    cursor: none;
}

.input::placeholder{
    color: #04193E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s;
}

.input:hover::placeholder{
    padding-left: 15px;
}

.input:focus::placeholder{
    color: transparent;
}

textarea{
    grid-row: 1 / 4;
    grid-column: 2 / 3;
    border-bottom: 1px solid #04193E;
    font-family: "Montserrat", sans-serif;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    resize: none;
    transition: all 0.2s;
    cursor: url(/img/input.svg), text;
}

textarea:hover{
    background-color: #04193e09;
}

textarea:focus{
    background-color: #173b7a09;
    caret-color: #04193E;
    color: #04193E;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding-left: 15px;
}

textarea::placeholder{
    padding-top: 17px;
    color: #04193E;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: all 0.2s;
}

textarea:hover::placeholder{
    padding-left: 15px;
}

textarea:focus::placeholder{
    color: transparent;
}

.input__btn{
    background-color: #04193E;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    width: 100%;
    max-width: 270px;
    border: none;
    padding: 18px;
    display: inline-block;
    margin: 0 auto;
    grid-column: 1/-1;
    transition: all 0.2s;
    cursor: url(/img/Cursor-white.svg), pointer;
}

.input__btn:hover{
    background-color: rgba(11, 34, 73, 0.725);
}

.info{
    background-color: #353C65;
    padding: 76px 0;
}

footer{
    cursor: url(/img/Cursor-white.svg), default;
}

footer .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-column-gap: 30px;
}

.info__column-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.info__column-text{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.footer__social-link{
    margin-right: 20px;
}

.footer__social-link:last-child{
    margin-right: 0;
}

.copyright{
    background-color: #061C3B;
    padding: 24px 0;
}

.copyright__block{
    max-width: 440px;
    text-align: center;
    margin: 0 auto;
}

.copyright__text{
    color: #808080;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.copyright__span{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

@media (max-width: 1024px) {

    .container {
        max-width: 1024px;
    }

    .banner__title{
        font-size: 44px;
        line-height: 46px;
    }

    .line {
        width: 130px;
    }

    .banner__btn {
        width: 100%;
        max-width: 240px;
    }

    .social__text {
        font-size: 16px;
        line-height: 18px;
    }

    .head__line{
        width: 148px;
    }

    .head__text {
        font-size: 16px;
        line-height: 18px;
    }

    .articles__cards{
        column-gap: 17px;
    }
}

@media (max-width: 720px) {
    .header__burger{
        display: block;
        height: 100%;
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 5;
        padding: 10px 0;
    }

    .nav{
        position: absolute;
        top: 64px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #04193E;
        transition: all .5s;
        gap: 15px;
    }

    .nav__list{
        margin-top: 23px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        padding-left: 15px;
    }

    .nav__link{
        row-gap: 15px;
        font-size: 14px;
    }

    .nav-item {

    }

    .header.open .nav{
        transform: translatex(100%);
    }

    .banner {
        padding: 40px 0px;
    }

    .banner__info{
        width: 100%;
    }

    .banner__title {
        font-size: 34px;
        line-height: 36px;
    }

    .banner__text {
        font-size: 16px;
        line-height: 20px;
    }

    .banner .container {
        flex-direction: column;
        align-items: center;
        margin-top: 64px;
    }

    .social .container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .slider{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .articles__cards {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    .banner__btn {
        max-width: 100%;
        font-size: 16px;
        line-height: 18px;
    }

    .banner__wrap-img {
        display: none;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__wrap-img:nth-child(3){
        grid-row: 1 / 4;
        grid-column: 2 / 3;
    }

    .gallery__wrap-img:nth-child(6){
        grid-row: 5 / 6;
        grid-column: 1 / 3;
    }

    .contact .container {
        display: grid;
        grid-template-columns: ;
    }

    .contact__form{
        display: grid;
        grid-column-gap: 20px;
        grid-row-gap: 40px;
    }

    .input__btn {
        max-width: 100%;
    }

    textarea{
        display: block
    }

    .info .container {
        grid-template-columns: 1fr;
        row-gap: 17px;
    }

    .info__column-title{
        margin-bottom: 7px;
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
    }

    .info__column-text {
        font-size: 14px;
        line-height: 16px;
    }
}